<section>
  <div class="container">
    <div class="card">
      <div class="card-inner" style="--clr:#fff;">
        <div class="box">
          <div class="imgBox">
            <img style="width: 100%" src="assets/img/theme/team-1-800x800.jpg" alt="Trust & Co.">
          </div>
          <div class="icon">
            <a href="#" class="iconBox {{offre.type}}"> <span class="material-symbols-outlined">
                arrow_outward
              </span></a>
          </div>
        </div>
      </div>
      <div class="content">
        <h5>{{offre.titre}} -{{offre.type}} </h5>
        <div>
          <p>Details:</p>
          <ul>
            <li>From : {{offre.lieu_depart.ville}} - {{ offre.lieu_depart.adresse}}</li>
            <li>To : {{offre.lieu_arrive.ville}} - {{ offre.lieu_arrive.adresse}}</li>
            <li> Depart : {{offre.heure_depart}}</li>
            <li> Meteo 20</li>
            <li *ngIf="!!user">by : {{ user.firstname }} {{user.lastname}}

            </li>
          </ul>
        </div>
        <ul>
          <li style="--clr-tag:#d3b19a;" class="{{offre.type}}">{{offre.type}}
            <a (click)="delete(offre._id)" >
            <span  style="float: right;position:absolute; right: 5px">
                <span class="btn btn-danger">Delete</span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>
