<div *ngIf="user">
  <div  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px;
background-image: url({{user.image}});
 background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">Hello {{ user.firstname }}</h1>
          <p class="text-white mt-0 mb-5">Welcome to your profile page. Track your ride-sharing journeys, manage your trips, and connect with fellow carpoolers.</p>
          <a routerLink="/co-transport/profile-edit" class="btn btn-info">Edit profile</a>
          <a *ngIf="user.role==='ADMIN'" routerLink="/co-transport/admin" class="btn btn-info">Go to dashboard</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a *ngIf="user" href="javascript:void(0)">
                  <img [src]="user.image" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
              <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">{{user.sex }}</a>
              <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">{{ user.role=="DEFAULT"?"Regular user" : user.role }}</a>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <div>
                    <span class="heading">22</span>
                    <span class="description">Friends</span>
                  </div>
                  <div>
                    <span class="heading">10</span>
                    <span class="description">Photos</span>
                  </div>
                  <div>
                    <span class="heading">{{ offres.length }}</span>
                    <span class="description">Offres</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>
                {{user.lastname }} {{user.firstname}}<span class="font-weight-light"></span>
              </h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>{{ user.ville }} - Tunisie
              </div>
              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>Email - {{user.email}}
              </div>
              <div>
                <i class="ni education_hat mr-2"></i>Phone : {{user.phone}}
              </div>
              <hr class="my-4" />
              <!--            <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>-->
              <!--            <a href="javascript:void(0)">Show more</a>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">My contributions</h3>
              </div>
              <div class="col-4 text-right">
                <a routerLink="/co-transport/list-reclamations" class="btn btn-sm btn-primary">Mes reclamations</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <a class="heading-small text-muted mb-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Mes Reservations ( {{reservations.length}} )  -       Show
            </a>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <div class="row">
                  <div *ngFor="let res of reservations" class="col-4">
                    <a routerLink="/co-transport/reservationDetails/{{res._id}}">
                      <app-small-reservation-card [res]="res"></app-small-reservation-card>

                    </a>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <a class="heading-small text-muted mb-4" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
              Mes offres ( {{offres.length}} )  -       Show
            </a>
            <div class="collapse" id="collapseExample2">
              <div class="card card-body">
                <div class="row">
                  <div *ngFor="let off of offres" class="col-4">
                    <app-small-card-offre [offre]="off"></app-small-card-offre>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <a class="heading-small text-muted mb-4" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
              Mes annonces ( {{annonces.length}} )  -       Show
            </a>
            <div class="collapse" id="collapseExample3">
              <div class="card card-body">
                <div class="row">
                  <div *ngFor="let off of annonces" class="col-4">
                    <a routerLink="/co-transport/annonce-details/{{off._id}}">
                      <app-small-card-offre [isAnnonce]="true" [offre]="off"></app-small-card-offre>

                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
