
<br>
<br>
<br>
<br>

<div class="d-flex" id="wrapper">
  <!-- Sidebar -->

  <div class="bg-light border-right" id="sidebar-wrapper">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Creer Une Offre</button>
    <div class="sidebar-heading">Filter Options</div>
    <div class="list-group list-group-flush p-3">
      <div class="form-group">
        <label for="destination">Category</label>
       <input destination Type="Text" >
      </div>
      <div class="form-group">
        <label for="filterCheckboxes">Options</label>
        <div id="filterCheckboxes">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Livraison" id="livraision">
            <label class="form-check-label" for="livraision">Livraison</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Co-Voiturage" id="covoiturage">
            <label class="form-check-label" for="covoiturage">Co-Voiturage</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="Taxi" id="taxi">
            <label class="form-check-label" for="taxi">Taxi</label>
          </div>
        </div>
      </div>
      <button class="btn btn-primary btn-block" (click)="filter()">Apply Filters</button>
    </div>
  </div>
<div class="container">
  <div class="row justify-content-center">
    <h1>Les  offres et services </h1>
  </div>

<div class="row justify-content-center" style="width: 100%">
    <div *ngFor="let off of offreList" class="col-sm-4">
        <app-offre-item [offre]="off" ></app-offre-item>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="offreForm" method="post">

          <div *ngIf="optionsType.length" class="form-group">
            <label class="form-control-label" >Type d'offre : </label>
            <select formControlName="type"  class="form-control">
              <option *ngFor="let role of optionsType" [value]="role.value" >{{role.label}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="title">Title : </label>
            <input formControlName="titre" type="text" id="title" class="form-control form-control-alternative" placeholder="Title">
          </div>
          <div class="form-group">
            <label class="form-control-label" for="VilleD">Ville départ : </label>
            <input formControlName="ville_depart" type="text" id="VilleD" class="form-control form-control-alternative" placeholder="Ville départ">
          </div>
          <div class="form-group">
            <label class="form-control-label" for="AddressD">Address départ : </label>
            <input formControlName="lieu_depart" type="text" id="AddressD" class="form-control form-control-alternative" placeholder="Address départ">
          </div>
          <div class="form-group">
            <label class="form-control-label" for="heeure">Heure de  départ : </label>
            <input formControlName="heure_depart"  type="datetime-local" id="heeure" class="form-control form-control-alternative">
          </div>
          <div class="form-group">
            <label class="form-control-label" for="AddressA">Ville d'arrivée : </label>
            <input formControlName="ville_arrive" type="text" id="VilleA" class="form-control form-control-alternative" placeholder="Ville d'arrivée">
          </div>
          <div class="form-group">
            <label class="form-control-label" for="AddressA">Address d'arrivée : </label>
            <input formControlName="lieu_arrive" type="text" id="AddressA" class="form-control form-control-alternative" placeholder="Address d'arrivée">
          </div>

          <div class="form-group">
            <label class="form-control-label" >Vehicule : </label>
             <select formControlName="vehicule" class="form-control">
               <option *ngFor="let veh of userVehicule" [value]="veh._id" >{{veh.marque}} {{veh.model}} - {{veh.places}} places</option>
             </select>
          </div>
           <div class="form-group">
             <button  [disabled]="offreForm.invalid" style="width: 100%;" class="btn btn-primary"
             (click)="submit()"
             >Create</button>
           </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
