<div style="width: 600px;padding: 2rem;position:relative;z-index: 9999" class="container">


      <div class="row justify-content-center">
        <h1 class="mb-2" style="color: #2ab14e">You Account has been created Succefully </h1>
        <h3>A confirmation link has been sent to you Email !!!</h3>

        <h2>See you soon <span style="color: red">{{data.name}}</span></h2>
      </div>
      <div class="row justify-content-end">
        <a (click)="activateAccount()" class="btn btn-primary"> Activate via button</a>
      </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
