<div style="padding-top: 100px" class="container">

  <div class="row justify-content-center">
    <h1>Details de la reservation</h1>
  </div>
  <div class="row justify-content-around">
    <div class="col-sm-4">
        <app-offre-item [offre]="offre"></app-offre-item>
    </div>
    <div style="padding-top: 80px;" class="col-sm-5">
        <app-reservation-item [reservation]="reservation"></app-reservation-item>
    </div>
  </div>

</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
