<div style="padding: 1rem" class="container">

  <div  class="row justify-content-center">
    <h1> You are about to make a Reservation</h1>
  </div>



  <div  class="row justify-content-between">
   <div  *ngIf="offre" class="col-sm-4">
     <app-offre-item [offre]="offre"></app-offre-item>
   </div>
    <div class="col-sm-6">
      <form [formGroup]="reservationForm" style="padding-top: 100px">

        <div class="form-group">
          <label class="form-control-label" for="title">Message : </label>
          <textarea formControlName="message" resize="none" id="title" rows="4" class="form-control form-control-alternative" placeholder="A few words about you or a message ..."></textarea>
        </div>
        <div class="form-group">
          <h4 *ngIf="plaeDisponible">Nombre de place disponible :  {{plaeDisponible}} places</h4>
          <label class="form-control-label" for="Places">Places : </label>
          <input formControlName="places"  type="number"  id="Places" rows="4" class="form-control form-control-alternative" >
        </div>

        <div style="width: 100%">
          <button (click)="submit()"[disabled]="reservationForm.invalid" class="btn btn-primary">Reserver !</button>
        </div>

      </form>
    </div>
  </div>
</div>
