<div  style="background: grey;padding-top: 150px;cursor: pointer" class="wrapper">
    <div class="row justify-content-center">
      <!--ring div starts here-->
      <div class="ring">
        <i style="--clr:#00ff0a;"></i>
        <i style="--clr:#ff0057;"></i>
        <i style="--clr:#fffd44;"></i>
        <div class="login">
          <h2>You want to report something ? </h2>
          <form [formGroup]="form">
            <div style="margin-bottom: 20px" class="inputBx">
              <input formControlName="titre" class="form-control" type="text" placeholder="Titre">
            </div>
            <select  formControlName="type"  class="form-control">
              <option *ngFor="let role of type" [value]="role" >{{role}}</option>
            </select>
            <div style="margin-bottom: 20px"  class="inputBx">
              <h4 style="color: white">Message : </h4>
              <textarea formControlName="description" class="form-control" type="submit" resize="none" rows="4" placeholder="Leave a message here . . ."></textarea>
            </div>
            <div class="inputBx">
              <button style="width: 100%;height: 50px;cursor:pointer;" [disabled]="form.invalid"  (click)="submit()" type="button"  class="btn btn-danger">Submit</button>
            </div>
            <div class="links">
              <a routerLink="/co-transport/profile-page">My profile</a>
              <a routerLink="/co-transport/list-reclamations">My reclamations</a>
            </div>
          </form>

        </div>
      </div>
      <!--ring div ends here-->
    </div>

</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
