<div class="reclamation-item card mb-3">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="titre">Title</label>
        <input id="titre" class="form-control" formControlName="titre">
        <div *ngIf="form.controls.titre.invalid && form.controls.titre.touched" class="text-danger">
          Title is required
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" class="form-control" formControlName="description"></textarea>
        <div *ngIf="form.controls.description.invalid && form.controls.description.touched" class="text-danger">
          Description is required
        </div>
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select id="type" class="form-control" formControlName="type">
          <option *ngFor="let type of ['Paiement', 'Retard', 'PanneApplication']" [value]="type">{{ type }}</option>
        </select>
        <div *ngIf="form.controls.type.invalid && form.controls.type.touched" class="text-danger">
          Type is required
        </div>
      </div>
      <button *ngIf="!selectedReclamationResponse"  type="submit" class="btn btn-primary" [disabled]="form.invalid">Update</button>
      <button type="button" class="btn btn-danger ml-2" (click)="onDelete()">Delete</button>
    </form>

    <div *ngIf="selectedReclamationResponse" class="response mt-4">
      <h2>Response</h2>
      <h3>{{ selectedReclamationResponse.reponse }}</h3>
    </div>
  </div>
</div>
