<div [ngStyle]="{'background' : backgroundColor}" style="margin-bottom: 100px" class="card">
  <h5 class="card-header">Titre de la réclamation : {{ rec.titre }}</h5>
  <div class="card-body">
    <h5 class="card-title">Report : {{ rec.type}}    - Status : {{rec.etat}} </h5>
    <p class="card-text">{{ rec.description }} </p>
    <a href="#" class="btn btn-danger">Delete </a>
    <a routerLink="/co-transport/details-reclamation/{{rec._id}}" class="btn btn-dark">{{ isAdmin ? "Respond" :"Update" }} </a>
  </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
