/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

.pointer {
  cursor: pointer;
}
.light-blue-backdrop {
  background-color: rgb(58, 152, 220) !important;
  pointer-events: none;
}
//.light-blue-backdrop2 {
//  z-index: 500 !important;
//}
