<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px;
 background-image: url({{user.image}}); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Your safe space to edit your account  {{ user.firstname }}</h1>
        <p class="text-white mt-0 mb-5">This is your edit profile page. You can update your personal information, change your password, and manage your account settings.</p>
<!--        <a href="#!" class="btn btn-info">Edit profile</a>-->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img [src]="!imageEdited ? user.image: newImage" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="form-group">
            <div style="opacity: 0;" class="custom-file pointer">
              <input style="opacity: 0;height: 200px" (change)="onFileSelect($event)"  type="file" class="custom-file-input" id="validatedCustomFile" required>
              <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
              <div class="invalid-feedback">Example invalid custom file feedback</div>
            </div>

          </div>

        </div>
        <button (click)="saveImage()" *ngIf="newImage" style="margin-top: 50px" class="btn btn-primary">
          Save New Profile Image
        </button>
        <button (click)="cancel()" *ngIf="newImage" style="margin-top: 10px" class="btn btn-danger">
          Cancel
        </button>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
<!--                <div>-->
<!--                  <span class="heading">22</span>-->
<!--                  <span class="description">Friends</span>-->
<!--                </div>-->
<!--                <div>-->
<!--                  <span class="heading">10</span>-->
<!--                  <span class="description">Photos</span>-->
<!--                </div>-->
<!--                <div>-->
<!--                  <span class="heading">89</span>-->
<!--                  <span class="description">Comments</span>-->
<!--                </div>-->
              </div>
            </div>
          </div>
          <div class="text-center">

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right">
              <a href="/co-transport/profile-page" class="btn btn-sm btn-primary">profile Page ?</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form *ngIf="user" [formGroup]="userForm">
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Firstname</label>
                    <input formControlName="firstname" type="text" id="input-username" class="form-control form-control-alternative" placeholder="firstname" >
                    <span class="errors" *ngIf="userForm?.get('firstname').invalid && userForm?.get('firstname').touched">
                  <small *ngIf="userForm?.get('firstname').errors?.required">
                    * FirstName is required.
                  </small>
                  <small *ngIf="userForm?.get('firstname').errors?.pattern">
                    * FirstName should only contain letters and may include spaces.
                  </small>
                </span>

                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username2">Lastname</label>
                    <input formControlName="lastname" type="text" id="input-username2" class="form-control form-control-alternative" placeholder="lastname" >
                    <span class="errors" *ngIf="userForm?.get('lastname').invalid && userForm?.get('lastname').touched">
                  <small *ngIf="userForm?.get('lastname').errors?.required">
                    * Lastname is required.
                  </small>
                  <small *ngIf="userForm?.get('lastname').errors?.pattern">
                    * Lastname should only contain letters and may include spaces.
                  </small>
                </span>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input formControlName="email" type="email" id="input-email" class="form-control form-control-alternative" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="phone">Phone number </label>
                    <input formControlName="phone" type="text" id="phone" class="form-control form-control-alternative" >
                    <span class="errors" *ngIf="userForm.get('phone').invalid && userForm.get('phone').touched">
                    <small *ngIf="userForm.get('phone').errors?.required">
                      Phone number is required.
                    </small>
                    <small style="white-space: nowrap" *ngIf="userForm.get('phone').errors?.pattern">
                      * The phone number is invalide
                  </small>
              </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Role </label>
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
                      </div>
                      <select readonly formControlName="role" class="form-control" >
                        <option [value]="op" *ngFor="let op of ROLE_ARRAY" >
                          {{op}}
                        </option>
                      </select>
                    </div>
                  </div>

                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" >Ville </label>

                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-pin-3"></i></span>
                      </div>
                      <select readonly formControlName="ville" class="form-control" >
                        <option [value]="op" *ngFor="let op of TUNISIA_VILLES" >
                          {{op}}
                        </option>
                      </select>
                    </div>
                    <span class="errors" *ngIf="userForm.get('ville').invalid && userForm.get('ville').touched">
                    <small *ngIf="userForm.get('ville').errors?.required">
                      Ville number is required.
                    </small>
                </span>
                  </div>

                </div>
              </div>
              <div class="row">
                <button (click)="editProfile()" type="button" [disabled]="userForm.invalid || userForm.untouched" style="width: 100%" class="btn btn-primary">Edit profile</button>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Security Setting</h6>
            <div class="card-body">
              <a class="heading-small text-muted mb-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Change Password
              </a>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <div class="row">
                    <form [formGroup]="passForm">
                      <div class="form-group">
                        <label>Insert your old password</label>
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                          </div>
                          <input formControlName="password" class="form-control" placeholder="Old Password" type="password">
                        </div>
                        <span class="errors"
                              *ngIf="passForm.get('password').invalid && passForm.get('password').touched">
                    <small *ngIf="passForm.get('password').errors?.required">
                      Password is required.
                    </small>
                    <small style="white-space: nowrap" *ngIf="passForm.get('password').errors?.pattern">
                      * Password > 8 characters, including Lowercase/Uppercase/Number.
                  </small>
              </span>
                      </div>
                      <div class="form-group">
                        <label>Insert your New password</label>
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                          </div>
                          <input formControlName="password2" class="form-control" placeholder="New Password" type="password">
                        </div>
                        <span class="errors"
                              *ngIf="passForm.get('password2').invalid && passForm.get('password2').touched">
                    <small *ngIf="passForm.get('password2').errors?.required">
                            Password is required.
                          </small>
                          <small style="white-space: nowrap" *ngIf="passForm.get('password2').errors?.pattern">
                            * Password > 8 characters, including Lowercase/Uppercase/Number.
                        </small>
                    </span>
                      </div>

                      <div class="text-center">
                        <button [disabled]="passForm.invalid" (click)="changePassword()" type="submit" class="btn btn-primary mt-4 pointer">Confirm your new Password</button>
                      </div>
                      <div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Description -->
              <a class="heading-small text-muted mb-4" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                Delete Account
              </a>
              <div class="collapse" id="collapseExample3">
                <div class="card card-body">
                  <div class="row">
                    <div (click)="deleteAccount()"  class="btn btn-danger">DELETE ACCOUNT </div>
                  </div>
                </div>
              </div>
            </div>

            <hr class="my-4" />

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
