<div class="ag-format-container">
  <div class="ag-courses_box">
    <div class="ag-courses_item">
      <a  class="ag-courses-item_link">
        <div class="ag-courses-item_bg {{class}}"></div>
        <div class="ag-courses-item_title">
          Places : {{res.places }}
        </div>

        <div class="ag-courses-item_date-box">
          Status:
          <span class="ag-courses-item_date">
            {{ res.status }}
          </span>
        </div>
      </a>
    </div>


  </div>
</div>
