<div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h4>Accessory Details</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <img class="img-fluid" src="{{ accessory.image }}" alt="Accessory Image">
          </div>
          <div class="col-md-6">
            <h5 class="card-title">{{ accessory.titre }}</h5>
            <p class="card-text"><strong>Description:</strong> {{ accessory.description }}</p>
            <p class="card-text"><strong>Price:</strong> {{ accessory.prix }}</p>
            <p class="card-text"><strong>Status:</strong> {{ accessory.etat }}</p>
            <p class="card-text"><strong>Category:</strong> {{ accessory.categorie }}</p>
            <p class="card-text"><strong>Sender:</strong> {{ accessory.expediteur }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  